# Execution Client Configuration
P2P_PORT=9000
RPC_PORT=9300
METRICS_PORT=9400
CHAIN_ID=99999
LOG_LEVEL=info
MINE=false
MINER_COINBASE=
BOOTNODE=
EXT_IP=127.0.0.1

# Grafana Configuration
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_ROOT_URL=http://localhost:3000

# Data Directory (inside container)
DATA_DIR=/data

